.container {
    width: 1170px;
    margin: 0 auto;
}
header {
    background-color: #1c1c1c;
}

header a.logo:hover, header a.logo:focus {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.2;
}

header a.logo h1 {
    margin: 15px 0;
    text-transform: uppercase;
}

ul {
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
nav, ul, li {
    list-style-type: none;
}
.main-nav ul li, .main-nav ul li a {
    display: inline-block;
}

.main-nav ul li {
    line-height: 40px;
}

.main-nav ul li a {
    padding: 10px 12px;
    text-transform: uppercase;
}

.main-nav ul li a.active, .main-nav ul li a:hover, .main-nav ul li a:focus {
    color: #31d9a5;
    text-decoration: none;
}

.main-button {
    background-color: #31d9a5;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 8px;
    text-align: center;
}
.button-middle {
    position: relative;
    top: 50%;
}
.wrapper {
    vertical-align: middle;
    float: none;
}